/* font-family: 'Merriweather', serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    margin: 0;
    background-color: #0B0B0B;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

h2 {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;

}
@media screen and (min-width: 768px) {
   
   h2{
    font-size: 40px;
    margin: 90px 0;
}

}
    @media screen and (max-width: 767px) {
        h2{
            font-size: 30px;
            margin: 30px 0;
        }
    }   





em {
    color:#FFD700;
    font-style: normal;
}

a {
    text-decoration: none;
    color: white;
}

.page-wrap {
    max-width: 1920px;
    margin: auto;
}

section {
    margin-bottom: 60px;
}

.baner-top img {
    width: 100%;
    height: auto;
}

.short-description {
    text-align: center;
}
.short-description p {
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
   
    .short-description p {
        font-size: 25px;
        line-height: 48px;

    }
 
 }
     @media screen and (max-width: 767px) {

        .short-description p {
            font-size: 20px;
            line-height: 35px;            

        }
     }  




.short-description p::before {
    content: ">";
    margin-right: 20px;
    color: #FFD700;
}

.about-us {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 60px;
    max-width: 1200px;
}

.about-us p {
    margin: 20px;
}

#signature {
    font-size: 20px;
    align-self: flex-end;
    margin-top: 25px;
    margin-right: 20px;

}

/* TODO: .about-us border */
@media screen and (min-width: 768px) {
#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

}

@media screen and (max-width: 767px) {

    #gallery {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: no-wrap;
        overflow-x: scroll;
        cursor: pointer;

    }

}

.gallery-item {
    margin: 20px;

}
.gallery-item img{
    width: 460px;
    height: auto;
    margin: 0;


}

.gallery-item-title {
    margin-top: -5px;
    max-width: 460px;
    height: 87px;
    background-color: #F9F8F4;

}

.gallery-item-title h3 {
    margin: 0;
    margin-left: 20px;
    color: #0B0B0B;

}

.contact {
    background-color: #fff;
    max-width: 100%;
    /* height: 500px; */
    padding: 25px;
    margin-bottom: 0;
}

.contact a {
    color: #0B0B0B;
    text-transform: uppercase;

}

@media screen and (min-width: 1010px) {
    .contact a {
        font-size: 25px;
        margin: 20px;
    }
    .contact-item img{
        width: 50px;
        height: 50px;
    
    }
       
}

@media screen and (max-width: 1009px) {
    .contact a {
        font-size: 18px;
        margin: 20px;
    }
    .contact-item img{
        margin-right: 20px;
        width: 30px;
        height: 30px;
    
    }
       
}

.contact h2 {
    color: #0B0B0B;
    text-align: center;
}

.contact-items-wrap {
    display: flex;
    justify-content: center;
}

.contact-item {
    margin: 30px;
    display: flex;
    align-items: center;
    margin: 20px auto;
}





@media screen and (max-width: 1009px) {
.contact-items-wrap  {
    flex-direction: column;
    align-items: center;

}
.contact-item {
    flex-direction: row;    
}

}

@media screen and (min-width: 1010px) {
.contact-items-wrap  {
    flex-direction: row;

}

.contact-item {
    flex-direction: column;    

}

}